<div>
  <input
  class="input"
  placeholder="Row"
  @blur="rowChange"/>
  <input
  class="input"
  placeholder="Column"
  @blur="colChange"/>
  <button @click="clean" class="button">
    <svg-icon type="mdi" :path="mid_clean"/>
  </button>
  <button @click="save" class="button">
    <svg-icon type="mdi" :path="mid_save"/>
  </button>
  <label><input type="checkbox" @change="move" ref="moveCheckBox">Move</label>
  <label><input type="checkbox" @change="fill" ref="fillCheckBox">Fill</label>
  <button 
    @click="hide = !hide" 
    class="button" 
    :style="currentcolor"
    >
    <svg-icon type="mdi" :path="mdi_palette"/>
  </button>

  <div v-if="!hide" class="picker">
    <ColorPicker
      theme="light"
      :color="color"
      :sucker-hide="true"
      :sucker-canvas="suckerCanvas"
      :sucker-area="suckerArea"
      @changeColor="changeColor"
      @openSucker="openSucker"
    />
  </div>
</div>